Xft.dpi:                    96
Xft.antialias:              1
Xft.rgba:                   rgb
Xft.hinting:                0
Xft.hintstyle:              hintnone
Xft.lcdfilter:              lcddefault

URxvt.loginShell:           false
URxvt.depth:                32
URxvt.geometry:             100x32
URxvt.transparant:          false
URxvt.fading:               0

URxvt.scrollStyle:          plain
URxvt.scrollBar:            false
URxvt.internalBorder:       6

URxvt.font:                 xft:Terminus:pixelsize=14
URxvt.boldFont:             xft:Terminus:pixelsize=14
URxvt.italicFont:           xft:Terminus:italic:pixelsize=14
URxvt.lineSpace:            0

URxvt.cursorBlink:          false
URxvt.cursorUnderline:      false

URxvt.saveLines:            2048

URxvt.visualBell:           false
URxvt.urgentOnBell:         true

URxvt.perl-ext-common:
URxvt.perl-ext:

URxvt*foreground:  #d5c4a1
URxvt*background:  #282828
URxvt.cursorColor: #d5c4a1

*.foreground:   #d5c4a1
*.background:   #282828
*.cursorColor:  #d5c4a1
