Xft.dpi:                    96
Xft.antialias:              1
Xft.rgba:                   rgb
Xft.hinting:                0
Xft.hintstyle:              hintnone
Xft.lcdfilter:              lcddefault

URxvt.loginShell:           false
URxvt.depth:                32
URxvt.geometry:             80x24
URxvt.transparant:          false
URxvt.fading:               0

URxvt.scrollStyle:          plain
URxvt.scrollBar:            false
URxvt.internalBorder:       16

URxvt.font:                 -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt.boldFont:             -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt.italicFont:           -*-terminus-medium-o-*-*-14-*-*-*-*-*-*-*
URxvt.lineSpace:            0

URxvt.cursorBlink:          false
URxvt.cursorUnderline:      false

URxvt.saveLines:            2048

URxvt.visualBell:           false
URxvt.urgentOnBell:         true

URxvt.perl-ext-common:      default,matcher
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.matcher.button:       1

URxvt*foreground:  #d5c4a1
URxvt*background:  #282828
URxvt.cursorColor: #d5c4a1

*.foreground:   #d5c4a1
*.background:   #282828
*.cursorColor:  #d5c4a1
